/*Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Reset CSS */
body {
  background-color: #f8f4e5;
  font-family: "Open Sans", sans-serif;
}
.title {
  font-size: 50px;
  color: #555;
  text-align: center;
  margin-top: 50px;
}
.recipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
  padding: 16px;
}
.recipe_description {
  width: 750px;
  height: 168px;
  background-color: rgb(255, 210, 112);
  border-radius: 16px;
  padding: 16px;
  float: right;
  font: 16px "Open Sans", sans-serif;
  line-height: 1.5;
}
.recipe-info {
  align-items: center;
  float: right;
}
.author {
  float: left;
  align-items: center;
}
.info {
  width: 900px;
  height: 20px;
  border-radius: 16px;
  border: 1px solid #555;
  margin: 0 auto;
  padding: 16px;
}
.info span {
  font-size: 16px;
  color: #555;
  font-weight: bold;
}
.ingredients {
  margin: 16px;
  padding: 16px;
}
.ingredients ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ingredients ol li {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 8px;
}
.ingredients ol ul li:before {
  content: "•";
  color: rgb(255, 210, 112);
  font-size: 20px;
  line-height: 1;
  margin-right: 8px;
}
.ingredients ol ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ingredients ol ul li {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 8px;
}
article {
  margin: 0 auto;
}
article img {
  float: left;
  border-radius: 16px;
  overflow: hidden;
}
.recipe_description h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}
/* navbar */
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}
nav .active {
  background-color: #04aa6d;
}
/*Heading*/
h3 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  margin-bottom: 16px;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(17, 17, 17);
}
.contact {
  width: 100%;
  height: 100%;
  background-color: #f8f4e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.contact label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

.contact input {
  margin-bottom: 24pt;
}

.contact h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

.contact span {
  font-size: 8pt;
}

.contact em {
  color: #f45702;
  font-weight: bold;
}

.contact input,
textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

.contact input:focus,
textarea:focus {
  border: 1px solid #6bd4b1;
}

.contact textarea {
  resize: none;
}

.contact button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
.contact button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

.contact ::selection {
  background: #ffc7b8;
}

.contact input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #333;
  color: white;
  font-size: 12pt;
  line-height: 24pt;
  text-align: center;
  margin-top: 30px;
}
footer h2 {
  font-size: 20pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card_body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag + .tag {
  margin-left: 0.5em;
}

.card_body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card_footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user_image {
  border-radius: 50%;
}

.user_info > small {
  color: #666;
}
